
.body_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.impending-text {
    margin-right: 360px;
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.impending-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.pick-text {
    margin-right: 400px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pick-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.news {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    height: 700px;
    background-color: #FFFFFF;
    border: 3px solid #29902C;
    border-radius: 15px;
}

.news-text {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
}

.pickup-text {
    display: flex;
    font-size: 23px;
    color: #7C7C7C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-text {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.more-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}



.pickup-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 5px solid green;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 120px;
    height: 70px;
    cursor: pointer;
}

.item {
    margin-right: 100px;
}


.pick {
    margin-right: 100px;
}

.more {
    margin-right: 100px;
}

.search_wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

label, #searchType, input[type="search"], #searchButton {
    font-size: 28px; /* 글자 크기를 키움 */
    padding: 10px; /* 내부 여백을 키움 */
}
#searchType, input[type="search"], #searchButton {
    height: 60px; /* 높이를 키움 */
}
#searchButton {
    background-color: #4CAF50; /* 버튼 배경색 */
    color: white; /* 버튼 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 포인터로 변경 */
}





